.colaborador {
    width: 280px;
    margin-bottom: 24px;
    position: relative;
}

.colaborador .encabezado {
    background-color:  #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}
.colaborador img {
    width: 80%;
    position: relative;
    bottom: -50px;
}

.colaborador .info {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 70px;
    padding-bottom: 40px;
    min-height: 120px;
    font-family: 'Montserrat', sans-serif;
}

.colaborador .info h4 {
    color: #2f3036;
    min-height: 80px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
    cursor: pointer;
}

.colaborador .info h4:hover{
    color: #19a4c7;
}

a {
    text-decoration: none;
}

.eliminar{
    position: absolute;
    right: 4%;
    top: 5px;
    cursor: pointer;
    color: #38393f;
}

.eliminar:hover{
    color: rgb(180, 23, 102);
}

.editar{
    position: absolute;
    left: 5%;
    top: 1%;
    cursor: pointer;
    color: #38393f;
}

.editar:hover{
    color: rgb(238, 191, 63);
}

.modal-botones{
    display: flex; 
    margin-top: 4%; 
    font-family: 'Montserrat', sans-serif;
    gap: 12%;
}

.modal-guardar, .modal-limpiar{
    background-color: #9c357a;
    border-radius: 10px;
    padding: 24px 32px;
    font-weight: 700;
    font-size: 0.7em;
    color: #ffffff;
    cursor: pointer;
    margin: 32px 0;
    border: none;
}

.modal-guardar:hover{
    color: #95eaff;
}

.modal-limpiar:hover{
    color: #95eaff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

form label {
    width: 30%;
    margin-right: 10px;
}

form input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
}